@import '../../styles.scss';

@media #{$tablet, $wideTablet} {
  .about-wapper {
    width: 100vw;
    height: 100vh;
    color: $textMain;
    font-size: rem(25);
    .content-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: rem(300);
      width: 100%;
      padding: rem(125) rem(35) rem(30) rem(35);
      span {
        line-height: 1.1;
      }
    }
    .contact-box {
      
      position: absolute;
      bottom: 10%;
      right: 5%;
      background-color: #9FC3E6;
      color: $main;
      border-radius: rem(10);
      padding: rem(10);
      font-weight: bold;
      display: none;
      &.floater {
        display: none;
        animation: floater 0.7s infinite linear, show 1s linear;
      }
      &:after {
        border-top: 15px solid #9FC3E6;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 0px solid transparent;
        content:"";
        position:absolute;
        bottom: -35%;
        right: 18%;
       }
    }
  }
}

@-webkit-keyframes floater {
  0%,100% {
    bottom: 10%;
  }
  
  50% {
    bottom: 12%;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
