@import '../../styles.scss';

@media #{$pc} { 
  .cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    .circle-indicator {
      width: rem(22);
      height: rem(22);
      border: 1px solid white;
      border-radius: 50%;
      position: absolute;
      // top: 50%;
      &::after {
        content: "";
        width: rem(20);
        height: rem(20);
        position: absolute;
        border: 8px solid $textMain;
        border-radius: 50%;
        opacity: .5;
        top: -8px;
        left: -8px;
      }
      &.expand {
        animation: cursorAnim .5s forwards;
        border: 1px solid $textMain;
      }
    }
  }
}
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@media #{$tablet, $wideTablet, $mobile} { 
  .cursor {
    display: none;
  }
}
