<div class="contact-wapper">
  <div class="form-wapper">
    <h3>Send e-mail!</h3>
    <form action="https://formspree.io/xqkdvryw"
          method="POST">
      <label>
        E-mail
        <input (keyup)="emailcheck($event)" type="text" name="_replyto" placeholder="Enter your e-mail address">
      </label>
      <label>
        Message
        <textarea (keyup)="messagecheck($event)" name="message" placeholder="Enter your message"></textarea>
      </label>
    
      <button [ngClass]="{'active' : emailflag && messageflag}" class="send-btn" type="submit">Send</button>
    </form>
  </div>
    
</div>